* {
  padding: 0;
  margin: 0;
}

header h1 {
  text-align: center;
  margin-top: 40px;
}

header section {
  margin-top: 15px;
  text-align: center;
}

.color {
  display: inline-block;
  height: 80px;
  width: 80px;
  border: 1px black solid;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}
